{% extends 'greatkart/base.html' %}


{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->

    <div class="row">
      <div class=" text-center col-md-4 offset-md-4">
        {% include 'greatkart/message.html' %}
      </div>
    </div>

  <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    
      
      
    <div class="card-body">
      <h4 class="card-title mb-4"> Reset Password</h4>
      
      <form action="{% url 'resetPassword' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div> <!-- form-group// -->
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
        </div> <!-- form-group// -->
          
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Reset </button>
        </div> <!-- form-group// -->    
      </form>
      
    </div> <!-- card-body.// -->
  </div> <!-- card .// -->

<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>


{% endblock %}